.admin-panel-wrapper {
    padding: 50px 0;
}

.manager-modal {
    font-size: 15px;
}

.manager-modal form {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    width: 100% !important;
}

.manager-btn {
    width: 190px;
    margin-left: 50px;
    font-size: 14px;
}

.all-stats-wrapper  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
   padding: 20px;
}
