.header {
    width: 100%;
    height: 200px;
    background-image: url("../../assets/background.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    min-width: 1437px;

}

.panel {
    margin-right: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    background-color: rgba(29, 40, 59, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
}

.welcome-message {
    padding-left: 15px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.panel-logo{
    height: 30px;
    margin: 13px;
    cursor: pointer;
}
