.pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.each-manager {
    height: 170px;
    margin: 20px 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px !important;
    border: #e3e3e3 0.03em solid;
    box-shadow: 1px 2px 3px rgba(214, 214, 214, 0.8);
}


.manager-all-btn {
    width: 500px;
    display: flex;
    justify-content: flex-end;
}
.managers-btn {
    font-size: 13px;
    margin: 5px;
    padding: 0 13px;
}
.manager-ul {
    width: 400px;
}
.manager-ul li {
    list-style-type: none;
}

body.modal-open {
    overflow: hidden;
}

.orders-manager {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 220px;
}

.orders-manager li {
    list-style: none;

}
.manager-table {
    box-shadow:none;
    background-color: transparent;
    overflow: hidden;

.manager-table tbody{
    box-shadow: 1px 2px 4px #dddddd;
}
}
.manager-table td {
    height: 22px ;
    box-shadow: none;

}
.manager-table tr {

}
.manager-table tbody tr:hover {
    background-color: transparent;
}
.delete-managers {
    background: linear-gradient(145deg, rgba(113, 15, 15, 0.98) 0%, rgba(163, 49, 49, 0.98) 100%) !important;
    border: 1px solid #8f1919 !important;
}

.delete-managers:hover {
    background: linear-gradient(145deg, rgba(128, 26, 26, 0.98) 0%, rgba(160, 63, 63, 0.98) 100%) !important;
}


